testcontainers
responses
urllib3
aioresponses
botocore
aiohttp
nest-asyncio
openai
pydantic
streamlit
crawl4ai
beautifulsoup4
selenium
extruct
w3lib
requests
lxml
pytest
pytest-asyncio
pytest-cov
langdetect
ruff
pre-commit
aiofiles
groq
boto3
python-dotenv
pydantic_settings
torch
transformers
pandas==2.2.2
datasets
scikit-learn
crawl4ai
extruct
google-search-results
iptocc
tldextract
